{% extends 'base.html.twig' %}

{% block title %}Grimorio De Builds{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/quote.js') }}"></script>
{% endblock %}

{% block body %}
<h1>Grimorio De Builds</h1>

<div id="quote-box" style="margin: 20px 0; font-style: italic;">
    Cargando frase épica...
</div>

<p>Selecciona un juego</p>


{% for game in games %}
    <div>

        <h2>
            <a href="{{ path('game_show', {'slug': game.slug}) }}">
                {{ game.name }}
            </a>
        </h2>

        <p>{{ game.description }}</p>

    </div>

{% endfor %}

{% endblock %}
