{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block banner %}
    <div class="game-banner">
        <img
            src="/uploads/banners/{{ game.bannerImage }}"
            alt="{{ game.name }}"
        >
    </div>
{% endblock %}

{% block body %}
<div class="form-box">
    <h1>Crear nueva Publicación</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">Vuelve a la lista</a>
    </div>
{% endblock %}
